<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nosnooze">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoSnooze">
        <activity
            android:name=".infoPopup"
            android:theme="@style/Apptheme.Popup">
        </activity>
        <activity android:name=".AlarmEdit" />
        <activity
            android:name=".AlarmPopup"
            android:theme="@style/Apptheme.Popup" />
        <activity android:name=".Lock" />
        <activity android:name=".PhotoScan" />
        <activity android:name=".PhoneShake" />
        <activity android:name=".PhoneTilt" />
        <activity android:name=".AlarmHandler" />

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SortNumbers" />
        <activity android:name=".SensorPage" />
        <activity android:name=".AlarmSetter" />
        <activity android:name=".StepCounter" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>